# ─── Environment ──────────────────────────────────────────────────────────────
NODE_ENV=development

# ─── Discord ──────────────────────────────────────────────────────────────────
DISCORD_TOKEN=
DISCORD_CLIENT_ID=

# ─── Database (sqlite) ────────────────────────────────────────────────────
DATABASE_URL=file:./local.db

# ─── Logging ──────────────────────────────────────────────────────────────────
# fatal | error | warn | info | debug | trace
LOG_LEVEL=debug